.watch-form {
  display: flex;
  gap: 20px;
  align-items: flex-end;
  margin-bottom: 40px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.btn {
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
}