.watch-form {
  display: flex;
  gap: 20px;
  align-items: flex-end;
  margin-bottom: 40px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.btn {
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
}

.clocks-list {
  display: flex;
  gap: 20px;
}

.clock-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.remove-btn {
  background-color: white;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}

.remove-btn:hover {
  color: rgb(133, 133, 133);
}

.clock-time p {
  font-family: 'Courier New', monospace;
  font-size: 1.5em;
  margin: 0px 0;
}